#div1{
    background-color: rgb(83, 118, 193);
    margin: 20%;
    
    
}
#div2{
    background-color: rgb(10, 117, 238);
    margin-left: 100px;

        
}
#div3{
    background-color: rgb(86, 183, 247);
    margin-left: 100px;
    width: 500px;
}